{control,"erl",
         [{package_owner,"Martin Logan"},
          {package_owner_email,"martinjlogan@erlware.org"},
          {description,"Provides the Erlang shell and erlc"},
	  {categories, ["tool"]},
          {keywords,["erl",
                     "erlware",
                     "OTP",
                     "erlang",
                     "erlc",
                     "compiler"]},
          {project_page,"http://www.erlware.org/tools/faxien/index.html"}]}.
